/* Font import Google */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap')


/* Aserisk style on all elements*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* General Styles body*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic style*/
    color: #252525de;
    font-family: 'Nanum+Myeongjo',


}

/* Header style*/

header {
    background-color: rgb(245, 146, 115);
    
    nav ul li {list-style: none;}

}

/*Main Content style*/

main {
background-color: #d6b193;
flex: 1 0 auto;
}



/*Footer style*/

footer {
    background-color: lightcoral;
}

