/* Stylesheet */
/* Google Fonts Import */


/* overall style */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    flex-direction: column;
}



header {
    background-color: beige;
    padding: 0, 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #59664ade;

}

header h1 {

    padding-top: .5rem;

}

#logo {
    text-decoration: none;
    color: inherit;
    text-align: center;


}

#menu {
    list-style-type: none;
    text-decoration: none;
    font-size: 120%;
    letter-spacing: 3px;
    cursor: grab;
}

#menu li a {
    text-decoration: none;
}

.active {
    color: rgb(0, 166, 231);
    border: 2px solid rgb(0, 166, 231);
}






a:hover {
    color: rgb(255, 255, 255);
    background-color: blue;
}

main {
    background-color: rgb(240, 240, 164);


}

.footer section nav a {
    background-color: rgb(177, 177, 27);
    color: black;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 -3px 3px rgba(177, 177, 27, .6);
    
}

.social-media-links {

    text-decoration: none;
    color: blue;
    justify-content: space-between;
}

/* Gallery Page */

img {
    display: block;
    padding: .1rem;
    max-width: 100%;
    height: auto;
}


/* Media Query*/

/* small screen */
@media screen and (max-width: 768px) {

    main {
        padding-top: 8rem;
        padding-bottom: 5rem;
    }

}

/* medium screen */
@media screen and (max-width:992px) {

    main {
        padding-top: 8rem;
        padding-bottom: 5rem;
    }

}

/* large screen */
@media screen and (max-width:1200px) {

    main {
        padding-top: 8rem;
        padding-bottom: 5rem;
    }
}

/* big screen */
@media screen and (min-width:1201px) {
    main {
        padding-top: 8rem;
        padding-bottom: 5rem;
    }

}